.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.font-link {
  font-size: calc(10px + 2vmin);
}

.font-title {
  font-size: calc(70px + 2vmin);
  font-weight: bold;
  margin-top: 3vh;
  margin-bottom: 0;
}

.font-subtitle {
  font-size: calc(15px + 2vmin);
  font-weight: bold;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

.scrolldown-button {
  width: 15vh;
  height: 15vh;
  margin-top: 5vh;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(0) invert(1);
  position: absolute;
  bottom: 0;
}

.scroll-img {
  width: 9vh;
  height: 9vh;
}

.App-container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.scrollup-button {
  width: 15vh;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  position: absolute;
  top: 0;
}

.font-1 {
  font-size: calc(15px + 2vmin);
  font-weight: bold;
}

.font-inputtitle {
  font-size: calc(10px + 2vmin);
}

.input {
  margin-left: 3vh;
  height: 5vh;
  width: 20vh;
  font-size: calc(10px + 2vmin);
}

.container-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-emit {
  height: 5vh;
  width: 50vh;
  font-size: calc(10px + 2vmin);
  background-color: #61dafb;
  border-color: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
